<div class="row">
    <div class="col s6 offset-s3">
      <Register *ngIf="switch" (register)="onClickRegister($event)" (confirm)="onClickConfirmRegister()" [rndRegister]="rndRegister" [inpRegister]="inpRegister"></Register>
      <Loan *ngIf="!switch" (loans)="onClickLoan($event)" (confirm)="onClickConfirmLoan()" [rndLoan]="rndLoan" [inpLoan]="inpLoan"></Loan>
    </div>
</div>

<div class="loading_m" [hidden]="loading">
  <p>Cargando...</p>
  <div class="progress progress_m">
    <div class="indeterminate"></div>
  </div>
</div>